{% extends 'base.html' %}
{% block content %}

<div class="todo">
    <h3 style="margin-left: 20px">Task To be Completed</h3>
    <div class="col-md-6" id="a3">
        <div class="shadow card" id="shadow">
            <div class="card-body">
                <h5 class="card-title">{{ task1.name }}</h5>
                    <form method="POST" style="margin: 20px;">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputEmail1">Task</label>
                          <br>
                        {{ form.name }}
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Priority</label>
                          <br>
                        {{ form.priority }}
                      </div>
                        <div class="form-group">
                        <label for="exampleInputPassword1">Date</label>
                            <br>
                        {{ form.date }}
                      </div>
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </form>
            </div>
        </div>
            <br>
    </div>
</div>
{% endblock %}